/*-- font-family: 'Dancing Script', cursive; --*/
/*-- font-family: 'Poppins', sans-serif; --*/

body {
  margin: 0px;
  position: relative;
  box-sizing: border-box;
  font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
  font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*---  NavBar -----------------------------------*/
.navbar {
  width: 100%;
  position: fixed;
  z-index: 1;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 30px 0px 30px;
  margin-top: 0px;
  background: rgb(3, 181, 3);
}

.nav_logo {
  font-weight: 500;
  letter-spacing: 1px;
  padding-bottom: 10px;
  font-size: 40px;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 0px;
  font-family: 'Dancing Script', cursive;
}

.nav_list {
  display: flex;
  justify-content: center;
  margin: 0px 100px 0px 0px;
  gap: 40px;
  list-style-type: none;

}

li:hover {
  color: rgb(84, 255, 124);
  cursor: pointer;
}

.nav_link {
  color: white;
  text-decoration: none;
}

.nav_link:hover {
  color: rgb(84, 255, 124);
}

/*--- Hero -------------------------*/
.hero_el {
  position: relative;
  width: 100%;
  height: fit-content;
  object-fit: cover;
}

.hero_img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 0px;
}

.dropDown_heading {
  color: white;
  position: absolute;
  top: 60%;
  left: 17%;
  margin-top: 0px;
  font-size: 3em;
  font-weight: 800;
  letter-spacing: 0px;
  animation-name: dropdown_title;
  animation-duration: 2s;
}

@keyframes dropdown_title {
  0% {
    opacity: 0;
    top: 0;
  }

  100% {
    opacity: 1;
    top: 60%;
  }
}

/*--- deli sections ------------------*/

.featured_header {
  color: rgb(3, 181, 3);
  text-align: center;
  font-size: 3.3em;
  font-family: 'Dancing Script', cursive;
  margin-top: 20px;
  margin-bottom: 0px;
}

.deli_categories {
  display: flex;
  align-items: baseline;
  padding: 2.5em;
  justify-content: space-evenly;
}

.deli_category {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  height: fit-content;
  border: 2px solid rgb(3, 181, 3);
  border-radius: 10px;

}

.category_title {
  color: white;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
  font-weight: 300;
  padding: 20px 0px;
  margin: 0px;
  background-color: rgb(3, 181, 3);
}

.category_img {
  max-width: 100%;
  height: 250px;
}

.view_btn {
  color: white;
  margin-left: 70px;
  margin-top: 15px;
  width: fit-content;
  padding: 5px 10px;
  margin-bottom: 15px;
  background-color: rgb(3, 181, 3);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.view_btn:hover {
  transform: scale(1.1);
  background-color: rgb(1, 204, 1);

}

/*--- Social media  -------------------------*/
.social_media {
  display: flex;
  flex-direction: column;
  gap: 0px;
  position: absolute;
  top: 53%;
  right: 0;
}

.fa-brands {
  color: rgb(3, 181, 3);
  font-size: 50px;
  margin-right: 5px;
  cursor: pointer;
}

#facebook_icon:hover {
  color: rgb(0, 140, 255);
  transition: ease-in;
  transform: scale(1.2);
}

#insta_icon:hover {
  color: rgb(255, 47, 0);
  transition: ease-in;
  transform: scale(1.2);
}

#twitter_icon:hover {
  color: rgb(3, 113, 203);
  transition: ease-in;
  transform: scale(1.2);
}

/*--- Contact form ------------------ */
.form_container {
  position: fixed;
  bottom: 0;
  z-index: 1;
  right: 0;
  transition: 0.5s ease-in;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(60, 60, 60);
  width: 250px;
  margin-right: 10px;
  margin-bottom: -360px;
  border-radius: 10px 10px 0px 0px;
}

.form_container:hover {
  bottom: 0px;
  margin-bottom: 0;
}

.contact_us_container {
  display: flex;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  justify-content: center;
  background-color: black;
}

#contact_icon {
  font-size: 1.5em;
  font-weight: 100;
  margin-left: 0px;
  margin-top: 5px;
  margin-right: 0.5em;
}

.contact_us_txt {
  font-size: 1.4em;
  margin: 0px;
}

.input_el {
  display: flex;
  flex-direction: column;
}

.input:focus {
  outline: none;
}

#textarea_el {
  margin-top: 10px;
}

#textarea_el::placeholder {
  padding-left: 1em;
}

#submit_btn {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  margin-bottom: 1.4em;
  cursor: pointer;
}

#submit_btn:hover {
  color: whitesmoke;
  background-color: rgb(3, 181, 3);
}

input::placeholder {
  padding-left: 1em;
}

/* -------------- mobile styling ------------ */
@media (min-width:481px) {
  #footer {
    display: none;
  }
}

@media (max-width:480px) {

  .social_media {
    display: none;
  }

  .form_container {
    display: none;
  }

  /* --- navbar --- */
  .navbar {
    position: relative;
    padding: 0;
  }

  .nav_logo {
    font-size: 20px;
    text-align: center;
  }

  .nav_list {
    font-size: .75rem;
    gap: 2.5em;
    text-align: center;
    align-items: center;
    margin: 10px;
  }

  /* --- hero section --- */
  .dropDown_heading {
    text-shadow: 1px 1px black;
    font-size: 1rem;
  }

  /* --- deli section--- */
  .featured_header {
    font-size: 1.75rem;
  }

  .deli_categories {
    flex-direction: column;
    align-items: center;
    padding: 1em;
    gap: .5em;
  }

  .category_title {
    font-size: 1.5rem;
  }

  .category_img {
    height: 275px;
  }

  /* --- footer --- */
  #footer {
    padding: .5em;
    padding-bottom: 1em;
    color: white;
    background-color: rgb(3, 181, 3);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer_contav«ct_us {
    display: flex;
    flex-direction: column;
  }

  .footer_contact_title {
    font-size: 1rem;
    font-weight: 500;
    margin: .25em;
  }

  .input_email {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .25em;
    margin-bottom: 1em;
  }

  .footer_input {
    height: 20px;
    border: none;
  }

  .contact_btn {
    height: 22px;
    border: none;
    background-color: #fff;
    color: rgb(3, 181, 3);
    font-weight: 500;
    letter-spacing: -1px;
  }

  .footer_socials {
    display: flex;
    gap: 1em;
  }

  .fa-brands {
    color: white;
    font-size: 40px;
  }





}